/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #e0e7f6,
    100 : #b3c3ea,
    200 : #809cdc,
    300 : #4d74cd,
    400 : #2656c3,
    500 : #0038b8,
    600 : #0032b1,
    700 : #002ba8,
    800 : #0024a0,
    900 : #001791,
    A100 : #bdc3ff,
    A200 : #8a94ff,
    A400 : #5766ff,
    A700 : #3d4fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$warn: (
    50 : #ffebee,
    100 : #ffcdd2,
    200 : #ef9a9a,
    300 : #e57373,
    400 : #ef5350,
    500 : #f44336,
    600 : #e53935,
    700 : #d32f2f,
    800 : #c62828,
    900 : #b71c1c,
    A100 : #ff8a80,
    A200 : #ff5252,
    A400 : #ff1744,
    A700 : #d50000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #fff3e0,
    100 : #ffe0b2,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #fb8c00,
    700 : #f57c00,
    800 : #ef6c00,
    900 : #e65100,
    A100 : #ffd180,
    A200 : #ffab40,
    A400 : #ff9100,
    A700 : #ff6d00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);